target/test-classes/calculator-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <flow name="sum-numbers-flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/sum" doc:name="HTTP"/>
        <logger message="Received request to calculate summation : #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://calculator.craft/
---
{
	ns0#sum: {
		arg0: payload.num1,
		arg1: payload.num2
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <until-successful maxRetries="${retry.count}" millisBetweenRetries="${retry.delay}" doc:name="Until Successful" synchronous="true">
            <ws:consumer config-ref="Web_Service_Consumer" operation="sum" doc:name="Web Service Consumer"/>
        </until-successful>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <logger message="Response from calculate webservice : #[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="81fa40f5-e52f-46d8-a5cf-717271114145">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://calculator.craft/
---
{
	result: payload.ns0#sumResponse.return 
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Response from calculator webservice is : #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="multiply-numbers-flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/multiply" doc:name="HTTP"/>
        <logger message="Received request to calculate multiplication : #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://calculator.craft/
---
{
	ns0#mul: {
		arg0: payload.num1,
		arg1: payload.num2
	}
}
]]></dw:set-payload>
        </dw:transform-message>
        <until-successful maxRetries="${retry.count}" millisBetweenRetries="${retry.delay}" doc:name="Until Successful" synchronous="true">
            <ws:consumer config-ref="Web_Service_Consumer" operation="mul" doc:name="Web Service Consumer"/>
        </until-successful>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <logger message="Response from calculate webservice : #[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://calculator.craft/
---
{
	result: payload.ns0#mulResponse.return 
}]]></dw:set-payload>
        </dw:transform-message>

        <logger message="Response from calculator webservice is : #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
